#bettingDiv {
    width: 800px;
    max-width: 90%;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #222;
}

#slidercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 30px;
    background: #666;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    overflow: hidden;
    border-radius: 120px;

    &:hover {
        opacity: 1;
    }
}

.slider::-webkit-slider-runnable-track {
    height: 31px;
    margin-top: 0.2px;
}

.slider::-webkit-slider-thumb {
    width: 30.9px;
    -webkit-appearance: none;
    height: 30.9px;
    cursor: pointer;
    background: url("/assets/slider_thumb_icon.svg") center center no-repeat;
    box-shadow: -500px -124px 0px 500px #ffcf40;
    border-radius: 40px;
}

.slider::-moz-range-thumb {
    width: 31px;
    -webkit-appearance: none;
    height: 32px;
    cursor: pointer;
    background: url("/assets/slider_thumb_icon.svg") center center no-repeat;
    box-shadow: -500px -124px 0 500px #ffcf40;
    border-radius: 20px;
}

#confirmBet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    border-top: 1px solid #eee;
    margin: 0 auto;
}

#confirm {
    background-size: 100%;
    background-image: url("/assets/confirmation.svg");
    height: 40px;
    width: 40px;
    background-color: #0dac50;
    margin: 10px 40px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #111;

    &:active {
        background-color: #275d3b;
    }
}

#currBettingAmount {
    width: 70px;
}
