// #startGameButton {
//     margin-top: 30px;
//     border: 1px solid #111;
//     border-radius: 5px;
//     background-color: #333;
//     color: #eee;
//     padding: 10px 20px;

//     &:active {
//         color: #333;
//         background-color: #111;
//         border: 1px solid #111;
//     }

//     &:focus {
//         outline: none;
//     }
// }

#bettingButtons {
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
}

.bettingButton {
    border-radius: 10px;
    padding: 10px 15px;
    border: 3px solid;
    outline: none;
    font-family: Verdana, Arial, sans-serif;

    &:active {
        background-color: #333;
    }
}

#doubleButton {
    width: 160px;
    background-color: #e67e22;
    border-color: #6d2c01;

    &:active {
        background-color: #6d2c01;
    }
}

#minButton {
    background-color: #e74c3c;
    border-color: #61170e;

    &:active {
        background-color: #61170e;
    }
}

#maxButton {
    background-color: #75c46b;
    border-color: #275d3b;

    &:active {
        background-color: #275d3b;
    }
}
