.card {
    transform-style: preserve-3d;
    transition: transform 0.4s;
    position: absolute;

    &:active {
        transform: rotateY(180deg);
    }

    div {
        padding: 61px 40px;
        user-select: none;
        background-color: #eee;
        backface-visibility: hidden;
        border-radius: 5px;
    }
}

.front {
    position: absolute;
    transform: rotateY(180deg);
    color: transparent;
    background-size: 100%;
}

.back {
    color: transparent;
    background-size: 100%;
    background-image: url("/assets/card-backface.png");
}

#cardsAndBankSeat {
    display: flex;
    flex-direction: row;
    margin: 50px;
}
