input {
    color: inherit;
    font-size: 1em;
    background: transparent;
    border: none;
    padding: 0.2em;
    outline: none;
    border-bottom: solid currentColor 2px;
}

input:focus {
    border-color: #57f;
}
