#playerSeats {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    position: relative;
}

.seat {
    height: 130px;
    width: 90px;
    margin: 0 150px;
    border: 10px solid #ccc;
    border-radius: 10px;
}

#player1Seat,
#player3Seat,
#player1Info,
#player3Info {
    transform: translate(0, -60px);
}

.info {
    height: 50px;
    background-color: #333;
    margin: 50px auto;
}

#player1Info {
    margin-left: 150px;
}

#player2Info {
    margin: 50px 75px;
}

#player3Info {
    margin-right: 150px;
}
