#playerSeats {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    position: relative;
}

#player1Info,
#player2Info,
#player3Info {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        padding: 10px;
        padding-right: 20px;
    }

    span {
        display: flex;
        align-items: center;
    }
}

.seat {
    height: 130px;
    width: 90px;
    margin: 0 150px;
    border: 10px solid #ccc;
    border-radius: 10px;
}

#player1Seat,
#player3Seat,
#player1Info,
#player3Info {
    transform: translate(0, -60px);
}

.info {
    background-color: #333;
    width: 200px;
    margin: 50px auto;
}

#player1Info {
    margin-left: 150px;
}

#player2Info {
    margin: 50px 100px;
}

#player3Info {
    margin-right: 150px;
}

.playerMoney {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    display: table;
    width: inherit;
}

.playerMoney:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%; /* <-- put left edge in the middle */
    margin-left: -40%; /* <-- shift to the left by half of the width */
    width: 80%;
    height: 1px;
    background: #ccc;
    margin-top: -10px;
}
